header{
    display: flex;
    flex-flow: column;
}
    header div#typeOfContactDiv label{
        margin: 0 .5rem;
        margin-left: 0;
    }
main{
    text-align: center;
}
    main span{
        color:var(--mainRed--);
        font-size: 4vw;
        font-weight:bold;
    }
@media only screen and (max-width:420px) and (hover:none){
    main span{
        font-size:13vw;
    }
}