:root{/*all reusable colors, can add potential for dark mode*/
    --mainRed--:#E63946;
    --mainBlue--:#1D3557;
    --mainLight--:#F1FAEE;
}
*{
    margin:0;
    padding:0;
}
body{/*sets color of background and default font*/
    background-color:var(--mainLight--);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{/*make the main content box take up[ the rest of the space so that the footer can not be seen*/
    min-height: 70vh;
}