footer{/*default footer prroperties*/
    background-color: var(--mainBlue--);
    color: var(--mainRed--);
    display:flex;
    justify-content: space-around;
    align-items: center;
    max-height: 10vh;
    min-height: 10vh;
}
    footer a img{/*make the images not over sized*/
        width:4vw;
    }
    footer a{
        text-decoration: none;
        color: var(--mainRed--);
    }
@media only screen and (max-width:420px) and (hover:none){/*media query for portirate phone*/
    footer a:nth-child(n+4){
        display: none;
    }
    footer a img{
        width: 10vw;
        max-width: 10vh;
    }
}
