main section{
    min-width: 40vw;
}
main section ul, main article p{/**/
    background-color: white;
}
    main section ul{
        list-style: none;
    }
    main section ol{
        margin-top: 1rem;
    }
        main section ol li{
            text-align: center;
            font-size: 3.1vw;
        }
    main section ul li{
        border-top:.5rem solid var(--mainLightBlue--);
        border-radius: .3rem;
        padding: 1rem;
    }
        main section li p{
            padding-top:1rem;
        }
main button#gameButton{
    background-color: var(--mainRed--);
    width: 100%;
    height: 4rem;
    margin-bottom: 2.3rem;
    border-radius: 1rem;
}
    main button#gameButton:hover{
        cursor: pointer;
    }
main button#sendScoreButton{
    background-color: var(--mainBlue--);
    padding: 1rem;
    border-radius: .5rem;
}
    main button#sendScoreButton{
        cursor: pointer;
    }
div#flexDiv{/*div that will hold the news and buton game/ leader board*/
    display: flex;
    justify-content: space-around;
}
    div#flexDiv section{
        max-width:50vw;
        padding-top: 2rem;
    }
article{/*this is the about me */
    padding: 3rem;
    max-width: 50rem;
    margin: auto;
}
    article h1{
        color: var(--mainRed--);
        text-align: center;
        font-size: 10vw;
        margin: 2rem;
    }
    article p{
        padding: 2rem;
    }
@media only screen and (max-width:420px) and (hover:none){/*mobile portirate only*/
    header h2{
        font-size: 13vw;
    }    
        header h2:nth-child(2){
            display:none;
        }
    div#flexDiv{/*make things flow up and down on mobile*/
        flex-flow: column;
        align-items: center;
    }
    main  div#flexDiv section:nth-child(2){/*make the click button game disappear on mobile*/
        display: none;
    }
    main article h1{
        font-size: 20vw;
    }
    main article p{
        font-size: 5vw;
    }
}